@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row text-light gy-3">
        <div class="col-sm-12 text-center">
            <img src="~/imgs/VaronFormal.jpg" class="rounded-circle img-fluid" style="width: 120px;">
        </div>
        <div class="col-sm-12 text-center">
            This is Varon Ian J. Rodejo,
        </div>
        <div class="col-sm-12 text-center">
            His Course and Section is BSIT-32E1.
        </div>
    </div>
</div>
