@{
    ViewData["Title"] = "School";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row text-light gy-3">
        <div class="col-sm-12 text-center">
            <h1>Schedule.</h1>
        </div>
        <div class="col-sm-12 text-center">
            <img src="~/imgs/sched.png" class="img-fluid">
        </div>
        <div class="col-sm-12 text-center">
            <img src="~/imgs/kmsWithEnergyDrinks.jpg" class="rounded-circle img-fluid" style="width: 120px;">
        </div>
    </div>
</div>